.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 0px;
  width: 100%;
}

.filters-item {
  width: calc(100% / 3);

  font-size: 18px;
  background-color: var(--neutral-150);
}

.filters-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
}

@media screen and (min-width: 768px) {
  .filters-item {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .filters-item {
    font-size: 28px;
  }
}
